body {
  background-color: #f3f2ee;
}

.profile-wrapper {
  margin: 20px 0;

  background-color: white;
}

.header-image-wrapper {
  position: relative;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/847/548/930/towns-hallstatt-austria-lake-mountain-hd-wallpaper-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 767px) {
  .header-image-wrapper {
    width: 50%;
  }
}
.profile-pic-wrapper {
  position: absolute;
  bottom: -50px;
  left: 50px;
}

.profile-pic-wrapper img {
  border: 2px solid white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.personal-information-div {
  padding: 10px;
  text-align: left;
  line-height: 1.5;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  line-height: 1.3 !important;
  font-size: 15px !important;
}
