#profileWrapper {
  font-weight: 400;
  font-size: 0.8rem;
}

.card,
.links {
  border: 1px solid rgb(240, 231, 231);
  border-radius: 10px;
}

.card {
  text-align: left;
}

.imageWrapper {
  position: relative;
  border-bottom: 2px solid rgb(240, 231, 231);
  line-height: 0.7;
}

.imageWrapper p {
  font-weight: 700;
}

.imageWrapper > :last-child {
  margin-top: 100px;
  padding-bottom: 20px;
}

#cardTop {
  height: 3rem;
  background-color: rgb(171, 193, 202);
}

#idImage {
  position: absolute;
  top: 20px;
  left: 10% !important;
  transform: translateX(50%);
  height: 80px;
  width: 80px;
  background-color: white;
  border: 1px solid rgb(240, 231, 231);
  border-radius: 50%;
  overflow: hidden;
}

#idImage img {
  width: 100%;
  /* object-fit: contain; */
}

#network {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 0.7;
}

#premium {
  line-height: 0.7;
  padding: 1rem 0 1rem;
}

#premium:last-child p {
  font-weight: 700;
}

#premiumIcon {
  height: 20px;
  width: 20px;
  background-color: #e7a23e;
}

.links {
  background-color: white;
}

#bookmark {
  margin-right: 0;
}

.links > :first-child {
  padding: 0 0.8rem 0 0.8rem;
  text-align: left;
  border-bottom: 2px solid rgb(240, 231, 231);
  margin-bottom: 3px;
}
.links > :last-child {
  text-align: center;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.links > :last-child::hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}
