.main_header {
  background-color: rgb(255, 255, 255) !important;
  border-bottom: 0.1px solid lightgray;
  position: fixed;
  z-index: 5;
  top: 0;
  flex: 0;
}
.header {
  padding-bottom: 0 !important;
  background-color: white;
  width: 100%;
  padding: 10px 0 10px 0;
}
.header_left {
  justify-content: space-evenly;
  background-color: white;
  display: flex;
}
.header_left img {
  object-fit: contain;
  height: 34px;
  margin-right: 10px;
  padding: 0;
}
.search {
  width: 25%;
  padding: 1px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  color: black;
  background-color: #eef3f8;
  height: 34px;
}
.search input {
  outline: none;
  border: none;
  background: none;
}
@media only screen and (max-width: 767px) {
  .search input {
    display: none;
  }
  .search img {
    display: none;
  }
  .search {
    width: 100%;
    background-color: #eef3f8;
  }
  .search::after {
    content: " Search ";
  }
  .main_header .header_right {
    display: none;
  }
  .header_left {
    margin-left: 20px;
    padding-bottom: 10px;
  }
}
.header_right {
  background-color: white;
  display: flex;
  align-items: center;
}
.MuiSvgIcon-root {
  margin-right: 0px !important;
  background-color: white;
}
